.btn-primary{
    transition: background-color 0.2s, border 0.2s, color 0.2s; 
    background-color: #FDA7DF;
    border: 1px solid #FDA7DF;
}

.btn-primary:hover{
    background-color: #fc86d3;
    border: 1px solid #fc86d3;
}

.form-signin input{
    margin-bottom:10px;
}

.form-signin input:active{
    border-color: #FDA7DF;
}


input[type="text"]:focus,
input[type="password"]:focus{   
    border-color: #FDA7DF;
    box-shadow: 0 1px 1px #00000013 inset, 0 0 8px #FDA7DF;
    outline: 0 none;
}