
.userHeader{
    margin-top: 10vh;
}

.borderLine{
    width: 600px;
    margin: 5vh auto;
    height: 2px;
    background: #fc86d3;
}

.kittyPic{
    height:15vh;
    border-radius: 15px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000000;
}

.text{
    padding-top: 2vh;
}

.navList{
    height:100%;
    background: #fc86d3;
    width: 2px;
}

footer{
    position: fixed;
    bottom: 0px;
}

.list-group-item.active {
    background-color: #fed3ef ;
    border-color: #fed3ef ;
    color: #666666;
}


#data{
    min-height: 40vh;
    margin-bottom: 10vh;
}

.list-group-item{
    border-bottom:none;
    border-left:none;
    border-right:none;
    border-top: 1px 1px solid #00000020;
}

.first{
    border: none;
}

/*-----------------------------*/
/*form range slider*/
/*-----------------------------*/
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FDA7DF;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FDA7DF;
    cursor: pointer;
}

.sliderRight{
    float: right;
}

.text{
    margin-bottom: 30px;
}

.updateForm .col-md-6,
.updateForm .col-md-6 .col{
    padding-left: 0px;
}

.ui-state-active{
    background: #fc86d3;
    border: 1px solid #fc86d3;
}

.ui-accordion-header {outline: none;}

.ui-accordion .ui-accordion-header{
margin: 10px 0  0 0 !important;
}



/*-----------------------------*/
/*Querries*/
/*-----------------------------*/

@media (max-width:768px){
    .navList{
        margin: 5vh auto;
        width: 100%;
        height: 2px;
    }
    .borderLine{
        width:90%;
    }
}
