/*-----------------------------*/
/*inits*/
/*-----------------------------*/

* {
  margin: 0px;
  padding: 0px;
}

header,
main,
nav,
article,
aside,
section,
footer {
  display: block;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

.wrapper {
  width: 952px; /* Calculated based on website */
  margin: 0 auto;
}

.clear {
  clear: both;
}

header,
footer {
  width: 100%;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 123px;
  background-color: #f2e9e9;
  padding-top: 1px;
}

footer {
  width: 100%;
  height: 41px;
  background-color: #000000;
}

nav {
  width: 291px;
  height: 33px;
  margin: 40px auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-top: 26px;
  text-transform: uppercase;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: #000000;
  margin-right: 17px;
  text-decoration: none;
  font-size: 24px;
}

nav a:hover {
  color: #1434e1;
}

nav a:hover.selected {
  color: #000000;
}

nav span {
  position: relative;
  top: 10px;
}

.selected {
  background: url(../images/dot.png) no-repeat center top;
}

/*-----------------------------*/
/*Layout1*/
/*-----------------------------*/

#layout1 main {
  width: 881px;
  height: 860px;
  margin: 0 auto;
}

#layout1 .text {
  float: left;
  width: 50%;
  height: 120px;
  margin-top: 267px;
}

#layout1 h1,
#layout1 h3 {
  font-weight: bold;
  line-height: normal;
  color: #000000;
}

#layout1 h1 {
  font-size: 72px;
}

#layout1 h3 {
  font-size: 24px;
}

#layout1 .boxes div {
  position: absolute;
  background-color: #ebef18;
}

#layout1 .boxes {
  position: relative;
  top: 0px;
  left: 0px;
  float: left;
  width: 50%;
  height: 500px;
  margin-top: 91px;
}

#layout1 .box1 {
  top: 44px;
  left: 0px;
  width: 75px;
  height: 23px;
}

#layout1 .box2 {
  top: 75px;
  left: 0px;
  width: 136px;
  height: 46px;
}

#layout1 .box3 {
  top: 129px;
  left: 0px;
  width: 133px;
  height: 404px;
}

#layout1 .box4 {
  top: 541px;
  left: 0px;
  width: 88px;
  height: 28px;
}

#layout1 .box5 {
  top: 577px;
  left: 0px;
  width: 25px;
  height: 26px;
}

#layout1 .box6 {
  top: 577px;
  left: 33px;
  width: 25px;
  height: 26px;
}

#layout1 .box7 {
  top: 44px;
  left: 149px;
  width: 246px;
  height: 352px;
}

#layout1 .box8 {
  top: 412px;
  left: 149px;
  width: 123px;
  height: 212px;
}

#layout1 .box9 {
  top: 412px;
  left: 288px;
  width: 55px;
  height: 105px;
}

#layout1 .box10 {
  top: 525px;
  left: 288px;
  width: 110px;
  height: 58px;
}

#layout1 .box11 {
  top: 412px;
  left: 384px;
  width: 55px;
  height: 105px;
}

#layout1 .box12 {
  top: 0px;
  left: 409px;
  width: 28px;
  height: 55px;
}

#layout1 .box13 {
  top: 66px;
  left: 409px;
  width: 28px;
  height: 55px;
}

#layout1 .box14 {
  top: 132px;
  left: 409px;
  width: 28px;
  height: 55px;
}

#layout1 .box15 {
  top: 198px;
  left: 409px;
  width: 28px;
  height: 198px;
}

/*-----------------------------*/
/*Layout2*/
/*-----------------------------*/

#layout2 .wrapper {
  margin: 0 auto;
  width: 969px;
}

#layout2 main {
  float: left;
  overflow: hidden;
  width: 1271px;
  height: 1860px;
}

.boxes1,
.boxes2 {
  float: left;
  width: 457px;
  height: 1860px;
  margin-top: 119px;
}

.boxes2 {
  float: right;
  margin-top: 267px;
}

.boxes1 div,
.boxes2 div {
  height: 299px;
  width: 457px;
  background-color: #c4c4c4;
  margin-bottom: 70px;
}

#layout2 aside {
  float: right;
  width: 169px;
  height: 1860px;
  background-color: #ebef18;
}

#layout2 .side1,
#layout2 .side2,
#layout2 .side3 {
  position: relative;
  height: 80px;
  width: 80px;
}

#layout2 .side1 {
  top: 119px;
  left: 0;
  background-color: #000000;
}

#layout2 .side2 {
  top: 247px;
  left: 89px;
  background-color: #ffffff;
}

#layout2 .side3 {
  top: 616px;
  left: 0;
  background-color: #000000;
}

#layout2 aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 1140px;
  margin-left: 44px;
}

#layout2 aside a {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: normal;
  text-align: center;
}

#layout2 footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

/*-----------------------------*/
/*Layout3*/
/*-----------------------------*/
#layout3 .wrapper{
  width: auto;
}

#layout3 .main {
  height: 100%;
  display: flex;
}

#layout3 .main-nav {
  float: left;
  background-color: #e5e5e5;
  width: 25.8vw;
  clear: both;
}

#layout3 nav {
  margin-top: 123px;
}

#layout3 main {
  float: left;
  width: 67vw;
  min-height: 100vh;
}

#layout3 aside {
  float: right;
  clear: both;
  width: 7.2vw;
  background-color: #18ef214d;
  opacity: 0.3;
}

#layout3 .block {
  width: 100%;
  height: 463px;
  background-color: #ebef18;
}

#layout3 .button {
  width: 80px;
  height: 80px;
  background-color: #000000;
  margin: 20px;
  float: right;
}

#layout3 .box {
  background-color: #000000;
  float: left;
  margin: 123px 64px;
  text-align: center;
  font-weight: normal;
  line-height: normal;
}

.show p {
  color: #ffffff;
}

#layout3 .box.correct {
  background-color: #12bd0c;
}

.box.correct p {
  color: #ffffff;
}

/*-----------------------------*/
/*Mobile Querries*/
/*-----------------------------*/

@media (max-width: 768px) {
  #layout3 .main{
    display: block;
    overflow: hidden;
  }
  
  #layout3 .main-nav {
    height: 105px;
    width: 100%;
    margin: 0 auto;
  }

  #layout3 nav {
    margin-top: 0;
  }

  #layout3 aside {
    display: none;
  }

  #layout3 main {
    width: 100%;
    min-height: 100vh;
  }
}
